* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #5995fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.title {
  font-size: 1.2rem;
  color: #444;
}

.avatar {
    width: 30%;
}

.data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
}

#logout-btn {
  width: 150px;
  background-color: #dc3545;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.container {
  position: relative;
  width: 60%;
  background: white;
  padding: 8%;
  margin: 2% auto;
  overflow: hidden;
  border-radius: 40% 60%;
}

.forms-container {
  position: relative;
  width: 100%;
  height: 100%;
  top: 2%;
  left: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 570px){
    .container {
  position: relative;
  width: 90%;
  background: white;
  padding: 8%;
  margin: 2% auto;
  overflow: hidden;
  border-radius: 40% 60%;
}

}