* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

thead{
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
}

tbody {
  color: #658ec6;
  font-weight: 500;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  align-self: center
  width: 100%;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);  min-height: 100vh;
  overflow: hidden;
  margin: auto 50px;
}

.styled-table {
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
    backdrop-filter: blur(2rem);
    z-index: 2;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2rem;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}